# Extracting effectively domiciled area of census sectors

In [16]:
import pandas as pd

## Loading data

In [17]:
df = pd.read_excel('data/input/Area_efetivamente_domiciliada_e_densidade_ajustada_dos_Setores_Censitarios.ods', engine="odf", usecols=[0,3,12])

In [18]:
df_municipalities = pd.read_csv('data/input/df_sociodemographic.csv', index_col=0)

In [19]:
df_municipalities.columns

Index(['codigo_municipio_7', 'regiao', 'estado', 'regiao_en', 'municipio',
       '0 a 4 anos', '5 a 9 anos', '10 a 14 anos', '15 a 19 anos',
       '20 a 24 anos', '25 a 29 anos', '30 a 34 anos', '35 a 39 anos',
       '40 a 44 anos', '45 a 49 anos', '50 a 54 anos', '55 a 59 anos',
       '60 a 64 anos', '65 a 69 anos', '70 a 74 anos', '75 a 79 anos',
       '80 a 84 anos', '85 a 89 anos', '90 a 94 anos', '95 a 99 anos',
       '100 anos ou mais', 'População residente (Pessoas)',
       'Área da unidade territorial (Quilômetros quadrados)',
       'Densidade demográfica (Habitante por quilômetro quadrado)',
       'Média de moradores em domicílios particulares permanentes ocupados (Pessoas)',
       'Percentual Homens', 'Percentual Mulheres', 'percentual_cor_raca_braca',
       'percentual_cor_raca_preta', 'percentual_cor_raca_amarela',
       'percentual_cor_raca_parda', 'percentual_cor_raca_indigena',
       'percentual_declara_indigena',
       'percentual_moradores_domicilios_com_banheiro', 'taxa_alfabetizacao',
       'populacao_2010', 'populacao_urbana', 'gini', 'taxa_atividade',
       'percentual_trabalhadores_formalizados',
       'percentual_ocupados_agropecuaria', 'percentual_ocupados_comercio',
       'percentual_ocupados_servico', 'percentual_ocupados_industria',
       'percentual_trabalhadores_conta_propria',
       'percentual_trabalhadores_formais', 'taxa_desocupacao',
       'percentual_populacao_vive_domicilios_densidade_maior_2_por_dormitorio',
       'percentual_populacao_vulneravel_pobreza_gastam_mais_uma_hora_trabalho',
       'renda_per_capita', 'espectativa_vida_ao_nascer',
       'espectativa_anos_estudo_aos_18_anos',
       'percentual_internacoes_doencas_saneamento_inadequado',
       'transferencia_percapita_bolsa_familia',
       'percentual_domicilios_aglomerados_subnormais_estimado',
       'populacao_aglomerados', 'densidade_demografica_aglomerados',
       'longitude', 'latitude', 'PERCENTUAL_VOTOS_BOLSONARO'],
      dtype='object')

In [20]:
df['municipality_id'] = df['CD_SETOR'].astype(str).str[:6]

In [21]:
df_municipalities['municipality_id'] = df_municipalities['codigo_municipio_7'].astype(str).str[:6]

## Merging data

In [22]:
df = df.merge(df_municipalities[['municipality_id','municipio','População residente (Pessoas)']], on='municipality_id')

In [23]:
df.isna().any()

CD_SETOR                                     False
v0001                                        False
DENSIDADE_DEMOGRAFICA_DOMICILIADA_HAB_KM2     True
municipality_id                              False
municipio                                    False
População residente (Pessoas)                False
dtype: bool

In [24]:
df.loc[df['DENSIDADE_DEMOGRAFICA_DOMICILIADA_HAB_KM2'].isna()]

,CD_SETOR,v0001,DENSIDADE_DEMOGRAFICA_DOMICILIADA_HAB_KM2,municipality_id,municipio,População residente (Pessoas)
239,130190205000194,0,NaN,130190,Itacoatiara (AM),103598
3407,130260305000145,0,NaN,130260,Manaus (AM),2063547
3408,130260305000150,0,NaN,130260,Manaus (AM),2063547
3409,130260305000151,0,NaN,130260,Manaus (AM),2063547
3410,130260305100205,0,NaN,130260,Manaus (AM),2063547
...,...,...,...,...,...,...
341544,412590210000011,0,NaN,412590,São Pedro do Paraná (PR),2661
345291,210070910000001,0,NaN,210070,Anajatuba (MA),25322
345775,355715405000021,0,NaN,355715,Zacarias (SP),2692
349575,431400105000017,0,NaN,431400,Paraí (RS),7194
351874,354550605000012,0,NaN,354550,Sandovalina (SP),3645

## Saving data

In [25]:
df.to_csv('data/output/df_effectively_domiciled_area.csv', index=False)